<%- include("partials/head")%> <!--We can use the ejs includes function to include parts of code from a different file, in this case the head-->

    <%- include("partials/nav")%>

    <h1>Browsing <%= name %> subreddit</h1>
    <h2><%= description %></h2>
    <p><%= subscribers %> Total subscribers</p>
    <hr>

    <% for(let post of posts) { %>
        <article>
            <p><%= post.title %> - <b><%=post.author%></b></p>
            <% if(post.img) { %>
                <img src="<%= post.img %>" alt="">
            <% } %>
        </article>
    <% } %>

<%- include("partials/footer")%>